# Exercício de limpeza de dados em Python

## Regras:

- Aparência: sol, nublado, chuva
- Temperatura: -130 ~ 130 F
- Umidade: 0 ~ 100
- Jogar: sim/não 
- Tratar valores NaN

In [1]:
### Importar bibliotecas
import pandas as pd
import seaborn as srn
import statistics as sts

## Importar dataframe

In [2]:
dataset = pd.read_csv('~/Desenvolvimento/Python/Exercícios/Limpar Dados/tempo.csv', sep=';')
dataset.shape

(14, 5)

In [3]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
dataset.tail()

   Aparencia  Temperatura  Umidade       Vento Jogar
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

## Explorar dados categóricos

In [5]:
agrupado = dataset.groupby(dataset['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [6]:
agrupado = dataset.groupby(dataset['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
dtype: int64

In [7]:
agrupado = dataset.groupby(dataset['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [8]:
dataset.loc[dataset['Aparencia'] == 'menos']

  Aparencia  Temperatura  Umidade       Vento Jogar
6     menos           64     65.0  VERDADEIRO   sim

In [9]:
dataset.loc[(dataset['Temperatura'] >= 60) & (dataset['Temperatura'] <= 70)]

  Aparencia  Temperatura  Umidade       Vento Jogar
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim
5     chuva           65     70.0  VERDADEIRO   nao
6     menos           64     65.0  VERDADEIRO   sim
8       sol           69     70.0       FALSO   sim

In [11]:
dataset.loc[(dataset['Aparencia'] == 'menos'), 'Aparencia'] = 'chuva'
agrupado = dataset.groupby(dataset['Aparencia']).size()
agrupado

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

Com os comandos acima, podemos concluir que:
1. Não existem erros nas colunas Vento e Jogar.
2. Na coluna Aparencia existe um item cadastrado com valor 'menos', que conforme a regra não é um valor válido para a coluna.

Para corrigir, visualizei a linha com erro.
- A partir da temperatura apresentada na linha busquei outros dias com temperaturas próximas.
- Descobri que a moda nesse caso é a chuva.
- A partir das pesquisas acima conclui que o mais indicado é substituir o valor 'menos' por 'chuva'.